.category {
    padding: 100px 0;

    .text-center {
        margin-bottom: 30px;
        text-align: center;

        h2 {
            font-weight: 600;
            font-size: 34px;
            line-height: 140%;
            color: #383838;

            span {
                color: #1c4980;
            }
        }
    }

    .searches {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: auto;
        .jobs {
            width: 33.3333%;
            padding: 5px;
            @media (min-width:1200px) {
                width: 25%;
            }
            &:hover {
                a {
                    box-shadow: none;
                    border-color: none;

                    @media (min-width:768px) {
                        box-shadow: 0 0 0 1px #383838;
                        border-color: #383838;
                    }
                }

            }

            a {
                border: none;
                color: inherit;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                @media (min-width:768px) {
                    padding: 16px;
                    height: 72px;
                    border-radius: 100px;
                    border: 1px solid #DADCE0;
                    background: #FFF;
                    transition: .3s;
                    display: inline-flex;
                    color: inherit;
                    justify-content: center;
                    align-items: center;
                    flex-direction: row;
                }

                .bgImage {
                    width: 40px;
                    height: 40px;
                    background-color: #ebe8fd;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                }

                p {
                    color: #383838;
                    font-size: 12px;
                    margin-bottom: 0;
                    padding-left: 10px;
                    font-weight: 400;
                    margin-top: 4px;
                    @media (min-width:768px) {
                        font-size: 16px;
                    margin-bottom: 0;
                    margin-top: 0;
                    padding-left: 10px;
                    font-weight: 500;
                    }
                }
            }

            .explore {
                .bgImage{
                    display: flex;
                    @media (min-width:768px) {
                        display: none;
                    }
                }
                p {
                    @media (min-width:768px) {
                        color: #0073e6;
                        
                    }
                }

                padding-left: 30px;
                padding-right: 30px;

                .arrow  {
                    display: none;
                    margin-left: 0;
                    @media (min-width:768px) {
                        display: block;
                        font-size: 18px;
                        margin-left: 10px;
                        
                    }
                }
            }
        }
    }
}